a {
	text-align: right;
}

.hero {
	background-size: cover;
}

.category {
	display: flex;
	flex-direction: column;
	border: 1px solid;
	border-radius: 4px;
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}